@model TravelApiClient.Models.Review

@if (ViewBag.expired == true)
{
  <div>Your login session has expired. Login again to add a new review</div>
}
else if (ViewBag.expired == false)
{
  <div>
    @using (Html.BeginForm())
    {
      @Html.LabelFor(x=>x.Rating)
      @Html.EditorFor(x=>x.Rating)
      @Html.LabelFor(x=>x.Country)
      @Html.EditorFor(x=>x.Country)
      @Html.LabelFor(x=>x.City)
      @Html.EditorFor(x=>x.City)
      <input type="submit" value="Post">
    }
  </div>
}
else
{
  <div>You must login and/or register a new account to add reviews</div>
}
