<div>
  <p>Id: @Model.ReviewId</p>
  <p>Rating: @Model.Rating</p>
  <p>UserName: @Model.UserName</p>
  <p>Country: @Model.Country</p>
  <p>City: @Model.City</p>
</div>

@if(@ViewBag.userName == @Model.UserName && @ViewBag.expired == false)
{
<div>
  @Html.ActionLink("Edit","Edit",new{id = @Model.ReviewId})
  @using (Html.BeginForm("Delete", "Reviews", new { id = @Model.ReviewId }))
  {
    <input type="submit" value="Delete" class="form-control">
  }
</div>
}
